<div id="<%= dom_id group %>">


  <div class="row">
    <hr>
    <div class="col"><%= group.nr %></div>
    <div class="col"><%= group.nazwa %></div>
    <div class="col"><%= group.field.nazwa %></div>
    <div class="col">
      <% group.students.each do |student| %>
        <%= student.imie %> <%= student.nazwisko %><br>
      <% end %>
    </div>
    <div class="col">
      <% group.courses.each do |course| %>
        <%= course.nazwa %> <br>
      <% end %>
    </div>
  </div>


</div>
