<div id="<%= dom_id group %>">
  <p>
    <strong>Nr:</strong>
    <%= group.nr %>
  </p>

  <p>
    <strong>Nazwa:</strong>
    <%= group.nazwa %>
  </p>

  <p>
    <strong>Lista studentów:</strong>
    <% group.students.each do |student| %>
      <%= student.imie %> <%= student.nazwisko %><br>
    <% end %>
  </p>

</div>
