<div class="container bg-secondary bg-gradient bg-opacity-10">

<div class="row" style="background-color: #BBBBBB">
  <h1> Grupa <%= @group.nazwa  %></h1>
</div>

  <%= turbo_frame_tag "grade_cg_"+@group.id.to_s+"_"+@course.id.to_s do %>
    <div class="container">
      <div class="row" style="background-color: #94b1d1">
        <div class="col">
          <h4> Oceny cząstkowe <%= @course.nazwa %> </h4>
        </div>
        <div class="col">
          <%= link_to "Oceń", detailgrade_course_path(@group.id, @course.id),
                      data:{turbo_frame: "grade_cg_"+@group.id.to_s+"_"+@course.id.to_s},
                      class: "btn btn-sm btn-primary" %>
        </div>
        <div class="col">
          <%= link_to "Powrót", blank_course_path(@group.id, @course.id),
                      data:{turbo_frame: "grade_cg_"+@group.id.to_s+"_"+@course.id.to_s},
                      class: "btn btn-sm btn-primary" %>
        </div>
        <hr>
      </div>
      <div class="row" style="background-color: #547faf">
        <div class="col">Student</div>
        <div class="col">Ocena</div>
        <div class="col">Data oceny</div>
      </div>
      <% @students.each do |s| %>
        <div class="row" style="background-color: #8ce3dc">
          <div class="col"> <%= s.IN %> </div>
          <div class="col">
            <% s.detail_grades.where(course_id: @course.id).each do |g| %>
              <div class="row" >
                <div class="col"><%= g.grade %></div>
                <div class="col"><%= g.data %></div>
              </div>

            <% end %>
          </div>
          <hr>
        </div>
      <% end %>
    </div>

  <% end %>


  <%= link_to "Back to groups", groups_path, class: "btn btn-sm btn-primary" %>
</div>