<p style="color: green"><%= notice %></p>

<%= render @group %>

<div>
  <%= link_to "Edit this group", edit_group_path(@group), class: "btn btn-sm btn-primary" %> |
  <%= link_to "Back to groups", groups_path, class: "btn btn-sm btn-primary" %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>
