<div class="container bg-secondary bg-gradient bg-opacity-10">
  <div class="row">
    <div class="col-4"><h2><%= @course.nazwa %></h2></div>
  </div>
  <div class="row">
    <div class="col-4"><h3>Oceny</h3></div>
    <div class="col-2"></div>
  </div>
  <%= form_with url: grade_save_path do |form| %>
    <% @students.each do |s| %>
      <div class="row border-bottom">
        <div class="col">
          <%= @grades[s.id]['imie'] %> <%= @grades[s.id]['nazwisko'] %>
        </div>
        <div class="col-2">
          <%= form.number_field 'oceny['+s.id.to_s+']', value: @grades[s.id]['grade'], in: 2.0..5.0, step: 0.5 %>
        </div>
      </div>
    <% end %>
    <%= form.submit "Zapisz", class: "btn btn-sm btn-primary" %>
  <% end %>
</div>